body {
    background-color: #292929;
}

#main-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#login {
    background-color: #ffffff;
    margin-top: 5vh;
    padding: 3rem;
    border-radius: 1rem;
    min-width: 25rem;
}
#login #connection-details {
    display: none
}
#login .label {
    margin-top: 0.3rem;
    color: rgba(41, 41, 41, 0.75);
    font-weight: bold;
    font-size: 0.8rem;
}
#add-handshake-data {
    cursor: pointer;
}
#add-handshake-data:hover {
    text-decoration: underline;
}
#login #connection-details .label {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 2rem;
}
#login input {
    font-size: 1.2rem;
    padding: 0.4rem;
    width: 20rem;
    text-align: center;
}
#login textarea {
    width: 20rem;
    padding: 0.4rem;
}
#login img {
    width: 12.5rem;
    height: 12.5rem;
    margin-left: 0.4rem;
    margin-top: -2.5rem;
}
#login button {
    position: relative;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    cursor: pointer;
    background-color: #f25e0d;
    border: 1px solid #292929;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2px;
    margin-right: 2px;
    box-shadow: 2px 2px rgba(0,0,0,0.3);
}
#login button:hover {
    background-color: #ff6a2b;
}
#login button:active {
    background-color: #de570e;
    box-shadow: 2px 2px rgba(0,0,0,0.3) inset;
}

.navlink {
    cursor: pointer;
    color: #ffffff;
}
.navlink:hover {
    text-decoration: underline;
}

#docs {
    display: none;
    width: 100vw;
    height: 100vh;
    margin: -8px;
    grid-template-areas:
        "logo top-bar"
        "sidebar api-description";
    grid-template-columns: 25vw auto;
    grid-template-rows: 5rem auto;
}

#logo {
    grid-area: logo;
}
#img-view img{
    box-sizing: border-box;
    max-height: 5rem;
    background-color: white;
    border: 1rem solid #292929;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
}
#top-bar {
    grid-area: top-bar;
}
#sidebar {
    grid-area: sidebar;
    text-align: left;
    padding-top: 2rem;
/*     padding-left: /*1rem*/; */
}

#api-description {
    grid-area: api-description;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 1rem 0 0 0;
    min-width: 25rem;
}
ul, li {
   list-style-type: none;
/*    margin-left: 2px; */
   padding-left: 1rem;
}
